<div class="row" style="margin-top: 9px">
<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%">
        <span class="title">Poblem Solving</span>
    </div>
</div>

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="max-width: 60%">
        <span class="title">Poblem Solving</span>
    </div>
</div>
</div>