<div id="wrapper" class="container well">
  <div class="navbar-collapse collapse" id="ftheme">
    <ul class="nav navbar-nav navbar-left ">
      <li>
        <b><a (click)="showWhoAmIMethod()">About Me</a></b>
      </li>
      <li>
      <b><a (click)="showEducationMethod()">Education</a></b>
      </li>
      <li>
        <b><a (click)="showExperienceMethod()">Experience</a></b>
      </li>
      <li>
        <b><a (click)="showSkillsMethod()">Skills</a></b>
      </li>
      <li>
        <b><a href="#contact">Hobbies</a></b>
      </li>
      <li class="hidden-sm hidden-xs">
        <b><a href="#" id="ss">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a></b>
      </li>
    </ul>
  </div>
  <div *ngIf="showWhoAmI">
    <whoami></whoami>
  </div>
  <div *ngIf="showEducation">
    <education></education>
  </div>
  <div *ngIf="showSkills">
    <skills></skills>
  </div>
  <div *ngIf="showExperience">
      <experience></experience>
    </div>
</div>
<div class="row text-center">
  <div class="col-md-4">
    <div class="download-button" style=" white-space: normal;">
      <a class="btn btn-outline-primary btn-xl btn3d" href="https://mail.google.com/mail/?view=cm&fs=1&to=rishabhjainnsit@gmail.com" target="_blank">
        <i class="fa fa-paper-plane"></i> Send a Message</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="download-button" style=" white-space: normal;">
      <a class="btn btn-outline-primary btn-xl btn3d" href="../assets/RishabhJain_CV.pdf" target="_blank">
        <i class="fa fa-download"></i> Download my CV</a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="download-button" style=" white-space: normal;">
      <a class="btn btn-outline-primary btn-xl btn3d" href="https://rishabhjainnsit.wordpress.com/" target="_blank">
        <i class="fa fa-wordpress"></i> Read my blog</a>
    </div>
  </div>
</div>