<div class="container">
  <div class="row">
      <div class="col-md-6">
        </div>
    <div class="col-md-6">
      <div class="top-right">
        <ul>
          <li>
            <a href="https://www.facebook.com/rishabh189">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://rishabhjainnsit.wordpress.com/">
              <i class="fa fa-wordpress" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rjain189/">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/rishbishjain">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<about-me></about-me>